/* font of website */

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style */
*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
}
body{
    width: 1140px;
    margin: 0 auto;
}

/* header section style */

/* nav style */
header > nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
nav > ul {
    display: flex;
}
ul > li{
    list-style: none;
    margin-right: 20px;
}
ul > li > a {
    text-decoration: none;
    color: #3A3A3A;
font-size: 1rem;
font-weight: 600;
}
.nav-title{
    color: #3A3A3A;
font-size: 1.5rem;
font-weight: 700;
}